.ks_dashboard_item{

    height: 132px;
}

/* Dashboard Empty Data Pro Css */
/*
.ks_pie_chart_nocontent{
    background : transparent url(/ks_dashboard_ninja_pro/static/src/img/ks_empty_dashboard_item.png) no-repeat 0 0;
    color: #777777;
    background-size: 100% 100%;
}
*/

/* Form pie chart no data */
.ks_dn_graph_preview > .nv-noData > .ks_pie_chart_nocontent{
    padding: 100px 0 0 137px;
    min-height: 327px;
    font-size: 125%;
}

/* Chart No Content Css */
.ks_chart_nocontent_form{
    display: inherit !important;
}

.ks_pie_chart_nocontent > .nv-noData {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 125%;
}

.ks_pie_chart_nocontent > .ksChartTitle {
    position: absolute;
    bottom: 0;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/*.ks_line_bar_chart_nocontent{
    background: transparent url(/ks_dashboard_ninja_pro/static/src/img/ks_empty_dashboard_item.png) no-repeat 0 0;
    color: #777777;
    font-size: 125%;
    background-size: 100% 100%;
}*/



.ks_dashboarditem_id, .ks_dashboarditem_chart_container{
    overflow-x : visible !important;
    overflow-y : visible !important;
}


/* Layout 6 exception case CSS */
.ks_dashboard_item_header_l6{
    top: 5px !important;
}


.ks_chart_card_body{
    position: absolute;
    top: 50px;
    left: 8px;
    right: 8px;
    bottom: 8px;
}

@media(max-width:575px){
    .ks_chart_card_body > canvas {
        max-width: 100% !important;
        width: 100% !important;
    }
}
@media(max-width:575px){
    .ks_pagiantion {
    min-width: 210px;
}
}




/*---------------------------------------------------*/
table#ksListViewTable {
  margin: 0 auto;
  border-collapse: collapse;
  font-family: Agenda-Light, sans-serif;
  /*font-weight: 100;*/
  /*background: #333;*/ /*color: #fff;*/
  text-rendering: optimizeLegibility;
  border-radius: 5px;
  width: -webkit-fill-available;
}
/*table#ksListViewTable caption {
  font-size: 2rem; color: #444;
  margin: 1rem;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ksListViewTable.png), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ksListViewTable2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left, center right;
}*/
/*
table#ksListViewTable thead th { font-weight: 600; }
table#ksListViewTable thead th, table#ksListViewTable tbody td {
  padding: .8rem; font-size: 1.4rem;
}
table#ksListViewTable tbody td {
  padding: .8rem; font-size: 1.4rem;
  */
/*color: #444; background: #eee;*//*

}
table#ksListViewTable tbody tr:not(:last-child) {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 600px) {
  table#ksListViewTable caption { background-image: none; }
  table#ksListViewTable thead { display: none; }
  table#ksListViewTable tbody td {
    display: block; padding: .6rem;
  }
  table#ksListViewTable tbody tr td:first-child {
    */
/*background: #666; color: #fff;*//*

  }
	table#ksListViewTable tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 6rem;
  }
}*/


#ks_item_info{
    cursor:pointer;
}

.ks_chart_heading{
    margin-top: 10px;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}

.ks_dashboard_item_hover:hover .ks_dashboard_item_header_hover > .ks_chart_inner_buttons{
    visibility: visible;
}

.ks_chart_inner_buttons{
    visibility: hidden;
}

.ks_chart_color_options, .ks_item_size_options{
        display: block;
    padding: 3px 10px;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
    cursor: pointer;
        margin-left: 24px;
    text-transform: capitalize;
}

.ks_chart_color_options:hover, .ks_item_size_options:hover{
        color: #333333;
    background-color: #f5f5f5;
}

.ks_pro_print_hide{
    display:none !important;
}

.ks_dashboard_item_menu_show > .ks_chart_inner_buttons{
    visibility: visible !important;
    /*position : relative;*/
}

.ksMaxTableContent{
    max-height: 300px;
}

.ks_chart_export_menu{
    padding: 6px 0 6px 0;
}

.ks_chart_export_menu_header{
    font-weight: 600;
    padding: 0 14px 10px 14px;
}

.ks_chart_export_menu_item{
    padding: 5px 14px 5px 14px;
    cursor : pointer;
}

.ks_chart_image_export{
    line-height: 29.5px;
    padding-top: 7.5px;
    padding-bottom: 7px;
}
.ks_chart_export_menu_item{
    color: #4c4c4c;;
}


.ks_chart_export_menu_item:hover{
    color: #4d4c4c;
    background-color: #f5f5f5;
}



.ks_chart_export_menu_item > i{
    padding-right: 10px;
}

.ks_dashboard_kpi {
    overflow-y : auto !important;
}

.ks_overflow {
    overflow: auto;
}

.ks_pager{
    min-width:100px;
}

.ks_next_previous_bg_color{
    background-color: transparent ! important;
}


@media(max-width: 767px){
    .dropdown-max-height {
     max-height: 240px;
     overflow:auto;
    }
}

@media(max-width: 767px){
    .ks_date_input_fields{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media(max-width: 767px){
    .ks_flex_column{
        flex-direction: column !important;
    }
}

@media(max-width: 767px){
    .ks_date_filter_selection_input{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.ks_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.ks_date_filters_menu_drop_down {
    max-height: 500px !important;
    overflow: auto !important;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-image: url('/ks_dashboard_ninja/static/description/arrow_drop_down.svg');
   background-repeat: no-repeat !important;
    background-position: 110% center;
    padding-right: 10px !important;
    background-size: 17px;

}

